/* wave section */
.wave4 {
    position: absolute;
    height: 40px;
    width: 100%;
    background: #02838c;
    bottom: 0;
  }
  
  .wave4::before, .wave4::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .wave4::before {
    width: 55%;
    height: 109%;
    background-color: #ffe494;
    right: -1.5%;
    top: 60%;
  }
  .wave4::after {
    width: 55%;
    height: 100%;
    background-color: #02838c;
    left: -1.5%;
    top: 40%;
  }